.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/

ghidra-projects/
ghidra-projects-*/
ghidra-projects-archtest/
ghidra-projects-full/
ghidra-projects-test/
ghidra-projects-demo/
ghidra-projects-smoke*/

data/interim/
data/raw/
data/external/

*.gpr
*.rep/
*.lock
*.lock~
*.bak

*.log
*.err

*.msi
*.ovpn

openvpn.ovpn

pres.md
To Do.txt
